<% @page_title = "従業員の新規登録" %>

<h1><%= @page_title %></h1>

<%= form_for [:admin, @employees] do |form| %>
  <%= render "shared/employee_form", form: form %>
  <div><%= form.submit %></div>
<% end %>
