<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP", :root %>
    <%= menu_link_to "商品", :products %>
    <%= menu_link_to "カート", :orders %>

    <% if current_employee %>
    <%= menu_link_to "管理ページ", :admin_root %>
    <% end %>
  </ul>
</nav>
